{% extends "base.html" %}
{% block content %}
    <div style = "position:relative; left:20px; top:0px;">
        <h1>Artist List</h1>
        {% for artist in artist_list %}
            <a href="{{ url_for('artist', name=artist.artistName) }}">{{ artist.artistName }}</a>
            <br>
        {% endfor %}
        <h1>Venue List</h1>
        {% for venue in venue_list %}
            <p>{{ venue.venueName }}</p>
        {% endfor %}
        <h1>Event List</h1>
        {% for event in event_list %}
            <p>{{ event.eventName }}</p>
        {% endfor %}
    </div>
{% endblock %}