{% extends "base.html" %}

{% block content %}
    <h1>Gunna: The Best Artist in the World</h1>
    <h3>Hometown: College Park, Georgia</h3>
    <h3>Record Label: Young Stoner Life Records, 300 Entertainment</h3>
    <h3>AKA: Wunna</h3>
    <p><strong>Brief Description:</strong> Sergio Giavanni Kitchens (born June 14, 1993),
        known professionally as Gunna, is an American rapper, singer, and songwriter.
        He is signed to Young Thug's YSL Records and 300 Entertainment.
        Gunna initially rose to fame with the mixtape Drip Season 3 in 2018.
        Later that year, he released the mixtape Drip Harder with Lil Baby,
        which spawned the single "Drip Too Hard" that reached number four on the Billboard Hot 100
        and eventually achieved Diamond certification by the Recording Industry Association of America (RIAA).</p>
{% endblock %}